{% extends 'game/base.html' %}
{% load static %}

{% block content %}
    <section class="gamesection">
        <div class="game-container">
            <div class="game-box">
                <div class="home-gameofweek">
                    <div class="slime-banner">
                        <span class="gameofweektitle">Game Of The Week</span> 
                        <div alt="GreenGoo" class="gameofweek_Goo"></div>
                    </div> 
                </div>
                
                <a href="{% url 'game' %}" class="play-button">PLAY</a>
            </div>
        </div>
    </section>

    <div class="leadersection">
        <div class="Leaderboard">

            <span class="HomeNavSelect">
                <img src="{% static 'images/winners_crown.png' %}" alt="Golden Crown" class="leaderboardIMG">
                <h1 class="HomeNavItem">Leaderboard</h1>
                <img src="{% static 'images/jester_hat.png' %}" alt="Jester Hat" class="leaderboardIMG">
            </span>

            <div class="columns">
        
                <div class="Fame_table">
                    <h3 class="fame">Fame!</h3>
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Time</th>
                            <th>Score</th>
                        </tr>
                        {% for score in top_scores %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ score.user__username }}</td>
                            <td>{{ score.latest|date:"M d, Y H:i" }}</td>
                            <td>{{ score.best_score }}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="4">No scores yet.</td></tr>
                        {% endfor %}
                    </table>
                </div>
        
                <div class="Shame_table">
                    <h3 class="shame">Shame!</h3>
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Time</th>
                            <th>Score</th>
                        </tr>
                        {% for score in bottom_scores %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ score.user__username }}</td>
                            <td>{{ score.latest|date:"M d, Y H:i" }}</td>
                            <td>{{ score.best_score }}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="4">No scores yet.</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
