{% extends 'game/base.html' %}
{% load static %}

{% block content %}

<div class="Leaderboard">

    <div class="columns">

        <div class="Fame_table">
            <h3 class="fame">Fame!</h3>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Time</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>USERNAME</td> <!-- ADD FUNCTIONALITY -->
                    <td>TIME</td> <!-- ADD FUNCTIONALITY -->
                    <td>SCRORE</td> <!-- ADD FUNCTIONALITY -->
                </tr>
            </table>
        </div>

        <div class="Shame_table">
            <h3 class="shame">Shame!</h3>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Time</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>USERNAME</td> <!-- ADD FUNCTIONALITY -->
                    <td>TIME</td> <!-- ADD FUNCTIONALITY -->
                    <td>SCRORE</td> <!-- ADD FUNCTIONALITY -->
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}